<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceLog</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>FaceLog</h1>
    <h4>A real-time face recognition attendance system</h4>
    <button id="start">Start Webcam</button>
    <button id="register">Register New User</button>
    <video id="video" width="640" height="480" autoplay></video>
    <script src="static/js/script.js"></script>
</body>
</html>
