<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/script.js"></script>
    <title>FaceLog</title>
</head>
<body">
    <div class="card">
        <div class="card-header">FaceLog</div>
        <div class="card-subtitle">A Real-time Facial Recognition Attendance System</div>
        <div>
            <button id="start"></button>
            <button id="register"></button>
            <button id="train"></button>
            <button id="analyze"></button>
            <button id="attendance"></button>
            <button id="password"></button>
        </div>
        <div class="video-container">
            <img id="video" width="640" height="480"></img>
            <div id="flash"></div>
            <div id="imageCount"></div>
            <!-- <label for="cameraSelect">Select Camera:</label>
            <select id="cameraSelect">
                <optgroup label="Available Cameras" id="cameraGroup"></optgroup>
            </select> -->
        </div>
        <div id="attendance-table">
            <div class="attendance-dates">
                <label for="fileSelect">Select Attendance File:</label>
            <select id="fileSelect" class="form-select">
                <optgroup label="Excel Files"></option>
            </select>
            </div>
            <table id="logTable">
                <thead>
                  <tr>
                    <th class="no" scope="col">#</th>
                    <th class="name" scope="col">Name</th>
                    <th class="time" scope="col">Time</th>
                    <th class="probability" scope="col">Probability</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>
