<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceLog</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Tailwind CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="card">
        <div class="card-header">FaceLog</div>
        <div class="card-subtitle">A Real-time Facial Recognition Attendance System</div>
        <div>
            <button id="start" class="btn btn-custom">Start Camera</button>
            <button id="register" class="btn btn-custom">Register Now</button>
            <button id="train" class="btn btn-custom">Update Model</button>
            <button id="analyze" class="btn btn-custom">Analyze Model</button>
            <button id="view" class="btn btn-custom">View Attendance</button>
        </div>
        <div class="video-container mt-4">
            <img id="video" width="640" height="480"></img>
            <div id="flash"></div>
            <div id="imageCount"></div>
            <!-- <label for="cameraSelect">Select Camera:</label>
            <select id="cameraSelect">
                <optgroup label="Available Cameras" id="cameraGroup"></optgroup>
            </select> -->
        </div>
        <div class="attendance-table" id="attendance-table">
            <table id="logTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Probability</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- Data will be inserted here -->
                </tbody>
              </table>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Custom JS -->
    <script src="static/js/script.js"></script>
    <!-- Bootstrap JS Bundle (including Popper) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
